{% extends "layout.html" %}

{% block content %}
<div class="banner">
	<div class="heading">
		<h1>Contacto</h1>
		<time></time>
		<div class="small-spinner"></div>
	</div>
</div>

<div class="info-cont">
            <a style="cursor: default" class="fa fa-phone"> <p class="">22 93 73 36 63</p></a>
			<br>
            <a style="cursor: default" class="fa fa-google"><p>mateosfroylan@gmail.com</p></a>
			<br>
            <a style="cursor: default" class="fa fa-facebook"><p></p></a>
</div>

<div class="contact">



	<form id="form" class="topBefore">

		<input id="name" type="text" placeholder="NOMBRE">
		<input id="email" type="text" placeholder="E-MAIL">
		<textarea id="message" type="text" placeholder="MENSAJE"></textarea>
		<input id="submit" type="submit" value="ENVIAR">

	</form>
</div>
{% endblock %}