{% extends "layout.html" %}

{% block content %}

<div class="banner">
	<div class="heading">
		<h1>Inicio</h1>
		<time></time>
		<div class="small-spinner"></div>
	</div>
</div>

<div class="content-body2">
	<body>
	<p>Te doy la bienvenida a mi primer sitio web, me llamo Froylán Mateos Sanchez y actualmente concluí la carrera en
		ingeniería mecatrónica especializado en la automatización.
		<br>
		<br>
		Soy una persona proactiva, autodidacta, y responsable. He llevado a cabo varios proyectos en los que he obtenido
		resultados satisfactorios; por lo que he aplicado el análisis y la resolución de estos de manera efectiva y
		eficiente.
		<br>
		<br>
		Actualmente me estoy enfocando en la programación ya que que me interesa todo lo relacionado con la Inteligencia
		Artificial, el Machine Learning y el Deep Learning. Y me gustaría poder desenvolverme en un futuro es esas áreas
		y aplicar estas nuevas herramientas en futuros proyectos.
	</p>
	</body>
</div>

<div class="skills">
  <div class="skill-bars">
    <div class="bar">
      <div class="info">
        <span>HTML/CSS</span>
      </div>
      <div class="progress-line html-css">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>C++</span>
      </div>
      <div class="progress-line c">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Python</span>
      </div>
      <div class="progress-line python">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>SQLite</span>
      </div>
      <div class="progress-line sqlite">
        <span></span>
      </div>
    </div>
	      <div class="bar">
      <div class="info">
        <span>OOP</span>
      </div>
      <div class="progress-line oop">
        <span></span>
      </div>
    </div>
	      <div class="bar">
      <div class="info">
        <span>Anaconda</span>
      </div>
      <div class="progress-line anaconda">
        <span></span>
      </div>
    </div>
  </div>
</div>
{% endblock %}