<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portafolio Web</title>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>


<div id="container">

    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/web">
                <img class="logo" src="static/css/logo.png" alt="logo">
            </a>
            <ul class="nave">
                <li><a class="acti" href="/">Home</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="content1">
        {% block content %}
        {% endblock %}
    </section>

    <div class="blog-posts">
        <div class="post">
            <img src="static/css/1.jpg" alt="" class="post-img">
            <div class="post-content">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, soluta?</h3>
                <span class="date">July 13, 2020</span>
            </div>
        </div>

        <div class="post">
            <img src="static/css/2.jpg" alt="" class="post-img">
            <div class="post-content">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, soluta?</h3>
                <span class="date">July 13, 2020</span>
            </div>
        </div>

        <div class="post">
            <img src="static/css/3.jpg" alt="" class="post-img">
            <div class="post-content">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, soluta?</h3>
                <span class="date">July 13, 2020</span>
            </div>
        </div>
    </div>

    <footer>
        Froylán Mateos Sánchez &copy; 2020-2021
    </footer>

</div>

</body>

</html>