{% extends "layout.html" %}

{% block content %}


<script>
function vermas(id){
if(id=="mas"){
document.getElementById("desplegar").style.display="block";
document.getElementById("mas").style.display="none";
}
else{
document.getElementById("desplegar").style.display="none";
document.getElementById("mas").style.display="inline";
}
}
</script>

<div class="banner">
	<div class="heading">
		<h1>Proyectos</h1>
		<time></time>
		<div class="small-spinner"></div>
	</div>
</div>

	<div class="content">
	<div class="card">
		<div class="card-image"><img src=""></div>
		<div class="card-info">
			<h2 class="card-name">Transmisor receptor FM con comunicación RDS.</h2>

			<p>Desarrollar e implementar en unas sonoboyas un transmisor receptor
				para que proporcione datos de su entorno pero que mediante ondas
				FM transmitirá la comunicación mediante datos RDS.
				<br>
				La falta de éste es un problema actual debido a que al desplegar
				en el mar no se sabe con exactitud su ubicación, estado climático
				e incluso el estado de la batería de toda la sonoboya en general.
				<a onclick="vermas('mas');" id="mas">leer más</a></p>
			<p id="desplegar" style="display:none;">
				Regresó la zorra y más le dolió el no poder vengarse, que saber de la
				muerte de sus pequeños; ¿Cómo podría ella, siendo un animal terrestre,
				sin poder volar, perseguir a uno que vuela? Tuvo que conformarse con
				el usual consuelo de los débiles e impotentes: maldecir desde lejos
				a su enemigo.
				<a onclick="vermas('menos');" id="menos">leer menos</a>
			</p>

			<div class="card-footer">
				<ul class="card-list">
					<li class="card-item">Mecatronica</li>
					<li class="card-item">Electronica</li>
				</ul>
			</div>
		</div>
	</div><!--/.dino-card-->



   <div class="card">
      <div class="card-image"><img src=""></div>
      <div class="card-info">
         <h2 class="card-name">Transmisor receptor FM con comunicación RDS.</h2>

         <p>Desarrollar e implementar en unas sonoboyas un transmisor receptor
            para que proporcione datos de su entorno pero que mediante ondas
            FM transmitirá la comunicación mediante datos RDS.
            <br>
            La falta de éste es un problema actual debido a que al desplegar
            en el mar no se sabe con exactitud su ubicación, estado climático
            e incluso el estado de la batería de toda la sonoboya en general.
            <a onclick="vermas('mas');" id="mas">leer más</a></p>
         <p id="desplegar" style="display:none;">
            Regresó la zorra y más le dolió el no poder vengarse, que saber de la
            muerte de sus pequeños; ¿Cómo podría ella, siendo un animal terrestre,
            sin poder volar, perseguir a uno que vuela? Tuvo que conformarse con
            el usual consuelo de los débiles e impotentes: maldecir desde lejos
            a su enemigo.
            <a onclick="vermas('menos');" id="menos">leer menos</a>
         </p>

         <div class="card-footer">
            <ul class="card-list">
               <li class="card-item">Mecatronica</li>
               <li class="card-item">Electronica</li>
            </ul>
         </div>
      </div>
   </div><!--/.dino-card-->





   <div class="card">
      <div class="card-image"><img src=""></div>
      <div class="card-info">
         <h2 class="card-name">Transmisor receptor FM con comunicación RDS.</h2>

         <p>Desarrollar e implementar en unas sonoboyas un transmisor receptor
            para que proporcione datos de su entorno pero que mediante ondas
            FM transmitirá la comunicación mediante datos RDS.
            <br>
            La falta de éste es un problema actual debido a que al desplegar
            en el mar no se sabe con exactitud su ubicación, estado climático
            e incluso el estado de la batería de toda la sonoboya en general.
            <a onclick="vermas('mas');" id="mas">leer más</a></p>
         <p id="desplegar" style="display:none;">
            Regresó la zorra y más le dolió el no poder vengarse, que saber de la
            muerte de sus pequeños; ¿Cómo podría ella, siendo un animal terrestre,
            sin poder volar, perseguir a uno que vuela? Tuvo que conformarse con
            el usual consuelo de los débiles e impotentes: maldecir desde lejos
            a su enemigo.
            <a onclick="vermas('menos');" id="menos">leer menos</a>
         </p>

         <div class="card-footer">
            <ul class="card-list">
               <li class="card-item">Mecatronica</li>
               <li class="card-item">Electronica</li>
            </ul>
         </div>
      </div>
   </div><!--/.dino-card-->




   <div class="card">
      <div class="card-image"><img src=""></div>
      <div class="card-info">
         <h2 class="card-name">Transmisor receptor FM con comunicación RDS.</h2>

         <p>Desarrollar e implementar en unas sonoboyas un transmisor receptor
            para que proporcione datos de su entorno pero que mediante ondas
            FM transmitirá la comunicación mediante datos RDS.
            <br>
            La falta de éste es un problema actual debido a que al desplegar
            en el mar no se sabe con exactitud su ubicación, estado climático
            e incluso el estado de la batería de toda la sonoboya en general.
            <a onclick="vermas('mas');" id="mas">leer más</a></p>
         <p id="desplegar" style="display:none;">
            Regresó la zorra y más le dolió el no poder vengarse, que saber de la
            muerte de sus pequeños; ¿Cómo podría ella, siendo un animal terrestre,
            sin poder volar, perseguir a uno que vuela? Tuvo que conformarse con
            el usual consuelo de los débiles e impotentes: maldecir desde lejos
            a su enemigo.
            <a onclick="vermas('menos');" id="menos">leer menos</a>
         </p>

         <div class="card-footer">
            <ul class="card-list">
               <li class="card-item">Mecatronica</li>
               <li class="card-item">Electronica</li>
            </ul>
         </div>
      </div>
   </div><!--/.dino-card-->

</div>
{% endblock %}