{% extends "layout.html" %}

{% block content %}

<div class="projects">
<header>
	<h1>Proyectos</h1>
	<p>Desarrollados por
		<time>Froylán Mateos Sánchez</time>
	</p>
</header>

<div class="valley-content">
	<div class="dino-card">
		<div class="dino-avatar"><img src=""></div>
		<div class="dino-info">
			<h2>Abrictosaurus</h2>
			<p>Abrictosaurus was a small dinosaur that lived in the early Jurassic period, between about 199 and 196
				million years ago. Abrictosaurus was quite small. It was about 1.2 meters long, and weighed only 45
				kilograms.

			<div class="dino-card-footer">
				<ul class="foods-list">
					<li class="food-item">Carrion</li>
					<li class="food-item">Plants</li>
				</ul>
				<a class="dino-button" href="#">Learn More</a>
			</div>
		</div>
	</div><!--/.dino-card-->

	<div class="dino-card">
		<div class="dino-avatar"><img src=""></div>
		<div class="dino-info">
			<h2>Diplodocus</h2>
			<p>Diplodocus lived in the Jurassic period, 155 to 145 million years ago. Diplodocus was usually around 25.9
				meters long, although some specimens were as long as 30.5 meters. Most of its length was taken up its
				7.3 meters neck, and its 14 meters tail. Its body was only about 4 meters long, and its head was
				comparatively tiny, just 60 centimeters long.</p>

			<div class="dino-card-footer">
				<ul class="foods-list">
					<li class="food-item">Plants</li>
				</ul>
				<a class="dino-button" href="#">Learn More</a>
			</div>
		</div>
	</div><!--/.dino-card-->

	<div class="dino-card">
		<div class="dino-avatar"><img src=""></div>
		<div class="dino-info">
			<h2 class="dino-name">Tyrannosaurus</h2>
			<p>Tyrannosaurus rex lived during late Cretaceous period, about 67 to 65 million years ago. It was one of
				the last dinosaurs, and probably went extinct during the Cretaceous-Tertiary mass extinction. It turns
				out that the undisputed king of the dinosaurs, Tyrannosaurus rex, didn't just eat other dinosaurs but
				also each other.</p>

			<div class="dino-card-footer">
				<ul class="foods-list">
					<li class="food-item">Prey</li>
				</ul>
				<a class="dino-button" href="#">Learn More</a>
			</div>
		</div>
	</div><!--/.dino-card-->

	<div class="dino-card">
		<div class="dino-avatar"><img src=""></div>
		<div class="dino-info">
			<h2>Triceratops</h2>
			<p>Triceratops lived in the late Cretaceous period, about 72 to 65 million years ago, Triceratops was one of
				the dinosaurs that died out in the Cretaceous-Tertiary extinction 65 million years ago.</p>

			<div class="dino-card-footer">
				<ul class="foods-list">
					<li class="food-item">Plants</li>
				</ul>
				<a class="dino-button" href="#">Learn More</a>
			</div>
		</div>
	</div><!--/.dino-card-->
</div>
{% endblock %}