{% extends "layout.html" %}

{% block content %}

<div class="banner">
	<div class="heading">
		<h1>Pagina Web</h1>
		<time>Publicado el 8 de Diciembre del 2020</time>
		<div class="small-spinner"></div>
	</div>
</div>

<div class="content-body">
	<body>
	<p>Con la finalidad de comprender HTML y CSS, se opto por desarrollar la pagina web en la cual se encuentra
		navegando usted. El principal enfoque de esta pagina web es ser utilizada como un portafolio de evidencia de
		los trabajos mas relevantes desarrollados.
		<br>
		<br>
		Para el desarrollo de esta pagina fue utilizado el micro framework Flask (con el lenguaje Python) por tener
		las herramientas necesarias para crear una aplicación funcional y también tener muchas exenciones para dotar
		de mas funcionalidades a Flask.
		<br>
		<br>
		Para poder subir la pagina web a la nube se eligió el servicio de Heroku ya que esta a diferencia de otras
		plataformas permite desarrollar prácticamente con cualquier lenguaje de programación: Ruby, Java, PHP,
		NodeJS, Python. Al igual que cuenta con un servicio gratuito el cual podemos acceder a las prestaciones
		básicas.</p>
	</body>

</div>
{% endblock %}